{% extends "layout.html" %} {% block main %}
<form action="/select_image" action="POST">
  <div class="row">
    {%for pred in preds%}
    <div class="col-md-3">
      <div class="custom-control custom-radio image-checkbox">
        <input type="radio" class="custom-control-input" id="{{loop.index - 1}}" name="face" value="{{loop.index - 1}}" />
        <label class="custom-control-label" for="{{loop.index - 1}}">
          <img src="{{ url_for('static', filename=filename) }}" alt="#" style="width:{{pred[2]-pred[0]}}px; height:{{pred[3]-pred[1]+10}}px; object-fit:none; object-position:-{{pred[0]}}px -{{pred[1]}}px" />
        </label>
      </div>
    </div>
    {%endfor%}
  </div>
  <button class="btn btn-primary" type="submit">Choose picture</button>

</form>
{% endblock %}
